a[href^="http://"],
a[href^="https://"],
a[href^="//"] {
    color: #f70;
}

a[href^="http://"][href*="google.com"],
a[href^="https://"][href*="google.com"],
a[href^="//"][href*="google.com"] {
    color: #666;
}

a[target="_blank"]:after {
    content: " ⇱";
    display: inline-block;
    margin: 0 6px;
    transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    text-decoration: none;
}