input[type="checkbox"] {
    display: none;
}



label {
    margin: 20px;
    text-decoration: underline;
}

label[for="red"] {
    color: red;
}

label[for="green"] {
    color: green;
}

label[for="blue"] {
    color: blue;
}

#red:checked ~ label[for="red"] {
    opacity: 0.3;
}

#green:checked ~ label[for="green"] {
    opacity: 0.3;
}

#blue:checked ~ label[for="blue"] {
    opacity: 0.3;
}



span {
    color: white;
    padding: 2px 8px;
    border-radius: 6px;
    display: none;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}



#red:not(:checked) ~ .red {
    display: inline-block;
}

#green:not(:checked) ~ .green {
    display: inline-block;
}

#blue:not(:checked) ~ .blue {
    display: inline-block;
}